

a.acf-button[disabled], 
a.acf-button.disabled, 
input.acf-button[type="submit"][disabled] {
	visibility: hidden;
}

#post input + label.error {
	color:#b02024;
}

.validation-fail-hide-loader {
	display: none !important;
}