
/*@import url(http://fonts.googleapis.com/css?family=Signika+Negative:400,700,300|PT+Sans|Oswald:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300|PT+Sans:400,700&subset=latin,latin-ext);

/* GOOGLE FONT USAGE...
font-family: 'Oswald', sans-serif;
font-weight: 300; // Book, Light
font-weight: 400; // Normal, Regular
font-weight: 700; // Bold

font-family:'PT Sans', sans-serif;
font-weight: 400; // Normal, Regular
font-weight: 700; // Bold
*/

/* RESET ALL FONT SIZES ------------------------------------------------------------------------ */


body {
	font-size:14px;
	line-height: 1.28571em;
	background-color:#fff;
	font-family:'PT Sans', sans-serif;
	color:#231f20;
} 
/* ----------------------------------------------------------------------------------------- */

/* USE THESE FONT SIZES TO DECLARE TRUE SIZES IN PIXELS ---------------------------------------
 
 {font-size:71.429%;} 		=>	10px
 {font-size:78.571%;} 		=>	11px
 {font-size:85.714%;} 		=>	12px
 {font-size:92.857%;} 		=>	13px
 {font-size:100%;} 			=>	14px
 {font-size:107.143%;} 		=>	15px
 {font-size:114.286%;} 		=>	16px
 {font-size:121.429%;} 		=>	17px
 {font-size:128.571%;} 		=>	18px
 {font-size:135.714%;} 		=>	19px
 {font-size:142.857%;} 		=>	20px
 {font-size:150%;} 			=>	21px
 {font-size:157.143%;} 		=>	22px
 {font-size:164.286%;} 		=>	23px
 {font-size:171.429%;} 		=>	24px
 {font-size:178.571%;} 		=>	25px
 {font-size:185.714%;} 		=>	26px
 {font-size:192.857%;} 		=>	27px		// the rest were added to use larger fonts
 {font-size:200%;} 			=>	28px		// and are only a rough estimate!	
 {font-size:207.143%;} 		=>	29px		// chris@nicasiodesign.com
 {font-size:214.286%;} 		=>	30px
 {font-size:221.429%;} 		=>	31px
 {font-size:228.571%;} 		=>	32px
 {font-size:235.714%;} 		=>	33px
 {font-size:242.857%;} 		=>	34px
 
 
------------------------------------------------------------------------------------------- */

html, 
body {
	height: 100%;
}
a {
	text-decoration:none;
	color:#231f20;
}

a:hover {
	color:#0052AA;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5 {
	font-weight:bold;
	padding-bottom:5px;
}

h1, h2, h3 {
	line-height: 1em;
}

h1 {
	font-size:228.571%;
}

h2 {
	font-size:185.714%;
	font-family:"Oswald", sans-serif;
	line-height: 1.15384em;
}

h3 {
	font-size:157.143%;
	line-height: 1.5em;
}

h4 {
	font-size:128.571%;
	line-height: 1.33333em;

}

h5 {
	font-size:114.286%;
	
}

h5 {
	font-size:100%;
}

ul,ol {
	padding:0 0 0 15px;
	margin:15px 0;
}


blockquote {
	font-family: Georgia, serif;
	font-style: italic;
	margin: 7px 20px;
	padding: 3px 40px;
	color:#9D9D9D;
}

/* HEADER */



#header {
	padding:35px 0 8px;
	margin-bottom:36px;
	position:relative;
	overflow: hidden;
	border-bottom: 1px solid #dfdfe0;
}

#header hgroup {
	overflow:hidden;
	float:left;
}

#site-title a {
	width:261px;
	height:30px;
	text-indent:-9999px;
	float:left;
	background:url(../_images/logo.png) no-repeat left top transparent
}

#header nav {
	float:right;
}

#header .menu {
	clear:both;
	padding:0 0;
	z-index:999;
	font-family:"Oswald", sans-serif;
	margin:10px 0 0;
	overflow: hidden;
}

#header .menu > li {
	float:left;
	position:relative;
	line-height:1em; 
}

#header .menu li {
	border-left:1px solid #a4a3a3;
	padding:0 12px 1px;
	text-transform:uppercase;
}

#header .menu li a {
	color:#a4a3a3;
}

#header .menu li a:hover {
	color:#0052AA;
}

#header .menu > li:first-child {
	border-left:0;
}

#header .menu > li:last-child {
	padding-right:0;
}


/* MAIN LAYOUT */

#page {
    margin: 0 auto;
    width:980px;
    min-height: 100%;
    height:100%;
}


#main {
    clear: both;
	padding-bottom: 233px;  /* must be same height as the footer */
}


#primary {
	float: left;
	/*margin: 0 -26.4% 0 0;*/
	width: 100%;
	padding-bottom:25px;
}

.has-sidebar #primary {
	width:730px;
	float:right;
	margin:0;
}

#secondary {
	float: left;
	width: 200px;
}


/* PAGERS */

.pagination, .navigation {
	bottom: 0;
    clear: both;
    overflow: hidden;
    position: absolute;
    width: 100%;
}


.pager {
	color:#0052AA;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom:10px;
}

.pager a {
	color:#0052AA;
}

.pager a:hover {
	color:#B6B5B5;
}

.pager * {
	padding-left:3px;
}

.pager *:first-child {
	padding-left:0;
}

.pager .prev {
	background: url(../_images/pager-arrows.png) no-repeat left -67px;
	padding-left:12px;
	display: inline-block;
}

.pager .prev:hover {
	background-position:left 0;
}

.pager .next {
	background: url(../_images/pager-arrows.png) no-repeat right -44px;
	padding-right:12px;
	display: inline-block;
}

.pager .next:hover {
	background-position: right -20px;
}

footer.entry-meta.pager {
	padding-top:11px;
}

.pagination .current {
	color:#231F20;
	font-weight: bold;
}

.navigation .prev,
.navigation .next {
	float:left;
	width:45%;
}

.navigation .next {
	float:right;
	text-align: right;
}


/* CONTENT */

.clearfix {
	    float: none;
	    clear: both;
	}

.col {
	float:left;
	width: 365px;
}

.page h1.entry-title,
.archive h1.entry-title,
.section-header {
	padding-bottom:2px;
	margin-bottom:18px;
	text-transform: uppercase;
	padding-left:15px;
	color:#646464;
	background:url(../_images/homepg-header-arrow-icon.png) no-repeat left 9px;
}

.section-header {
	border-bottom:1px solid #bfd4ea;
	font-family:"Oswald", sans-serif;
	font-weight: 400;
	padding-bottom:1px;
}

.section-header a {
	color:#646464;
}

.section-header a:hover {
	color:#0052AA;
}

#news .section-header {
	margin-bottom:12px;
}

.single-properties .post header .entry-meta {
	font-size:1em;
}




.has-sidebar h1.entry-title {
	background:none;
	padding-left:0;
}

.single.has-sidebar h1.entry-title {
	margin-bottom:0;
}

.tax-property_categories h1.entry-title {
	margin-bottom:35px;
}


.single-properties .featured-image {
	margin:0;
}

.single .entry-header .entry-media {
	padding-bottom:15px;
	display: block;
}


.featured-image img {
	display: block;
    margin: 0 auto;
}

.read-more a {
	color:#0052aa;
	text-transform: uppercase;
	font-weight: bold;
	background: url(../_images/read-more-icons.png) no-repeat right 5px;
	padding-right:9px;
}

.read-more a:hover {
	color:#b6b5b5;
	background-position: right -16px;

}

.sidebar {
	margin-top:0;
	padding:0;
}

.sidebar > li {
	margin-bottom:42px;
}

.related-docs a {
	word-wrap:break-word;
}

.sidebar > li > ul {
	padding-left:16px;
}

.sidebar li ul > li {
	padding-bottom:8px;
}

.sidebar .children {
	padding:8px 0 0 10px;
}

.sidebar .children > li {
	padding-bottom:5px;
}

.video iframe {
	width:100%;
}

.item-name a {
	font-weight:bold;
	display:block;
	padding-bottom:11px;
}

.region-top {
	padding-bottom:44px;
	position: relative;
}

.home .region-top {
	padding-bottom:37px;
}


.region-top .categories {
	margin:20px 0 0;
	overflow: hidden;
	font-size: 157.143%;
	padding-left:0;
}

.region-top .categories li {
	float:left;
	width:150px;
	margin-left:57px;
}

.region-top .categories li:first-child {
	margin-left:0;
}

.region-top .categories span {
	display: block;
	line-height: 1.5em;
}

.region-content {
	padding-bottom:11px;
	min-height: 300px;
	position: relative;
	overflow: hidden;
    margin-bottom: 34px;
}


.region-content article {
	padding-bottom:15px;
	margin-bottom:20px;
	clear:both;
	overflow: hidden;
}

.home .region-content article {
	padding-bottom:4px;
	margin-bottom:2px;
}

.sidebar li.current_page_item,
.sidebar li.current-cat {
	font-weight: bold;
}

.entry-content p {
	padding-top:1.15em;
}

.entry-content p:first-child {
	padding-top:0;
}

ul.entry-images {
	padding:0 0 25px;
	overflow: hidden;
	clear:both;
	margin:0;
}

.map {
	display: inline-block;
	font-weight: bold;
}

.gallery {
	clear:both;
}

.home .entry-media {
	display: block;
	padding-bottom:10px;
}

#perspectives .entry-media {
	padding-bottom:6px;
}

.entry-images li  {
	list-style:none;
	float:left;
	margin-left:7px;
}

.entry-images li:first-child  {
	margin-left:0;
}


img.alignleft {
	float:left;
	margin-right:15px;
}

img.alignright {
	float:right;
	margin-left:15px;
}

img.aligncenter {
	display: block;
    margin: 0 auto;
}

.home .col {
	width:300px;
	margin-left:39px;
}

#perspectives {
	margin-left:0;
}



.properties .entry-title {
	font-weight: 700;
}

.properties dt.entry-title {
	font-size:185.714%;
	padding:2px 0 18px;
	font-family: "Oswald",sans-serif;
	line-height: 1.15384em;
}



.post .entry-title a:hover {
	color:#0052AA;
}

.post .entry-meta {
    padding: 4px 0 6px;
}

.subtitle {
	padding-bottom:11px;
}

.post header .entry-meta {
	font-size:85.714%;
	border-bottom: 1px solid #efefef;
    margin-bottom: 12px;
    line-height: 1.25em;
    color:#646464;
}

.post header .entry-meta a {
	color:#646464;
}

.post header .entry-thumbnail + .entry-meta {
	margin-top:10px;
}

.teaser .entry-thumbnail {
	float:left;
	margin-right:10px;
}

.home .teaser .entry-thumbnail {
	float:none;
	margin-right:0;
}

.teaser .entry-thumbnail + .entry-summary {
	clear:none;
}

.teaser .entry-thumbnail + .entry-body ul:first-child,
.teaser .entry-thumbnail + .entry-body ol:first-child {
	display: inline-block;
}

.teaser .entry-body ul,
.teaser .entry-body ol {
	margin:5px 0;
}

.teaser .entry-body * + ul,
.teaser .entry-body * + ol {
	margin-top:8px;
}


.teaser .entry-body li {
	margin-bottom:8px;
}

.teaser .entry-body ol {
	padding-left:20px;
}

.single-properties .pager:hover {
	color:#B6B5B5;
}


.entry-details {
	font-size:108%;
	margin-bottom:11px;
}

.single-properties .entry-details .detail {
	display: inline-block;
	padding-right:10px;
}

.archive .location + .size {
	padding-top:11px;
}

.entry-details span {
	padding-right:5px;
}

dd.entry-details span {
	display: block;
	padding-bottom:3px;
}

.entry-details .label {
	font-weight: bold;
}

.entry-body {
	padding-bottom:11px;
	clear:both;
}

.entry-body img {
	padding-bottom:15px;
}


.entry-body ol {
	list-style-position:inside;
}

.entry-contact-info {
	font-size:108%;
	font-weight: bold;
}

.entry-contact-info a {
	text-decoration: underline;
}


.page .entry-content ul {
	list-style: none;
}


.homepage .entry-content ul {
	list-style:none;
}


/* HOMEPAGE CAROUSEL */

.carousel_1 {
	width:980px;
	z-index: 1;
}

#featured-text {
	margin:0;
}

#featured-text .slide {
	position: absolute;
	top:91px;
	left:0;
	z-index: 3000;
	width: 324px;
}

#carousel-pager {
	top:412px;
	right:734px;
	width:auto;
	z-index: 9999;
	bottom:auto;
}

#carousel-pager a {
	background: url(../_images/carousel-nav-icon.png) no-repeat top left;
	display: inline-block;
	width:30px;
	height:5px;
	padding-left:7px;
	float:left;
}


#carousel-pager a span {
	display: none;
}

#carousel-pager a.selected {
	background: url(../_images/carousel-nav-icon-active.png) no-repeat top left;
}

.entry-images .slide {
	position:relative;
	color:#fff;
	z-index: 1;
	margin:0;
	width:980px;
}

.entry-images .slide ul {
	padding:0;
	margin:0;
}


.slide .item-img {
	float:right;
	z-index: 2000;
	height:100%;
}

.slide .item-img img {
	display: block;
	float:left;
}

.slide .item-text {
	background: #f3f4f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f4f5 0%, #f7f8f9 23%, #f7f8f9 77%, #f3f4f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f4f5), color-stop(23%,#f7f8f9), color-stop(77%,#f7f8f9), color-stop(100%,#f3f4f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f4f5 0%,#f7f8f9 23%,#f7f8f9 77%,#f3f4f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3f4f5 0%,#f7f8f9 23%,#f7f8f9 77%,#f3f4f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3f4f5 0%,#f7f8f9 23%,#f7f8f9 77%,#f3f4f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3f4f5 0%,#f7f8f9 23%,#f7f8f9 77%,#f3f4f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f5', endColorstr='#f3f4f5',GradientType=0 ); /* IE6-9 */
	height:278px;
	padding:15px 18px 10px;
	color:#494848;
	border:9px solid #fff;
	border-left:0;
	width:279px;
	z-index: 99999;
	font-size:128.571%;
	line-height: 1.22222em;
	overflow: hidden;
}

.slide h2 {
	font-size:152.941%;
	text-transform:uppercase;
	font-weight:normal;
	padding-bottom:13px;
	line-height: 1.23076em;
	color: #646464;
    font-size:144.444%;

}

.slide .item-text ul {
	margin:0;
	padding:0;
}


.entry-body ul li {
	background: url(../_images/carousel-bullet.gif) no-repeat left 6px;
	padding-left:13px;
}

.slide .item-text ul li {
	margin-bottom:22px;
	background: url(../_images/carousel-bullet.gif) no-repeat left 9px;
	padding-left:13px;
	
}

.entry-body li {
	margin-bottom:14px;
}


.entry-content .slide p {
	padding:0;
}


.slide .read-more {
	display:block;
	padding-top:10px;
	clear:both;
}

.slide .read-more a{
	background: url(../_images/slider-read-more-icons.png) no-repeat right 7px;
	padding-right:11px;
}

.slide .read-more a:hover{
	background-position:right -16px;
}


/* FOOTER */


#footer {
	clear: both;
	background-color:#efefef;
	font-family: 'PT Sans', sans-serif;
	height: 233px;
	width:100%;
	padding-top:25px;
	position: relative;
	color:#646464;
	margin-top: -233px; /* negative value of footer height */
}

#footer a {
	color:#646464;
}

#footer ul {
	padding:0;
	margin:0;
}

.footer-wrapper {
	margin: 0 auto;
    width:980px;
}

#footer nav {
	width:100%;
	float:left;
	margin-bottom:31px;
	font-size:85.71%;
	background:url(../_images/footer-divider.png) no-repeat 574px 0;
}

#footer section {
	width:560px;
	clear:both;
	font-size:78.571%;
	margin:0 auto;
}


#footer section * {
	float:left;
}

#footer section > * {
	padding-left:7px;
	border-left:1px solid #919191;
	margin-left:7px;
	line-height: 0.90909em;
}

#footer section > *:first-child {
	margin-left:0;
	padding-left:0;
	border-left:0;
}


#footer .links li:first-child {
	padding-right:7px;
	margin-right:7px;
	border-right:1px solid #919191;
}


#menu-footer-nav > li {
	float:left;
	padding-left:32px;
	width:101px;
	padding-top:10px;
}

#menu-footer-nav > li:first-child {
	width:59px;
	padding-left:10px;
}

#menu-footer-nav > li.businesses {
	width:151px;
}

#menu-footer-nav > li.news {
	padding-right:63px;
	width:94px;
}

#menu-footer-nav > li.contact {
	width:334px;
	padding-left:62px;
}

#menu-footer-nav > li.contact .sub-menu > li {
	width:165px;
	float:left;
}

#menu-footer-nav > li > a {
	font-size:116.66666%;
	font-family:"Oswald", sans-serif;
	text-transform: uppercase;
}

#menu-footer-nav .sub-menu {
	border-top:1px solid #b7b7b7;
	margin-top:2px;
	line-height: 1.33333em;
	padding-top:5px;
}


#footer a:hover {
	color:#0052aa;
}
#menu-footer-nav .sub-menu a:hover{
	text-decoration: underline;
}

/* forms */

input[type="text"], textarea { 
	border:1px solid #ccc;
    margin-bottom: 18px;
}


input[type="submit"] { 
        cursor: pointer;
        height:26px;
        color:#fff;
        width:90px;
        padding-right:5px;
        padding-bottom:1px;
        text-transform: uppercase;
		background: #646464 url(../_images/read-more-icons.png) no-repeat 75px -31px;
}
input[type="submit"]:hover { 
        color: #0052aa;
		background-position: 75px 9px;
}

/* Gravity Form */

.gform_wrapper .gform_body input[type="text"], 
.gform_wrapper  .gform_body textarea {
	padding:8px;
	font-size:157.143%;
	height: 22px;
}

.gform_body ul li {
	background:none;
	padding-left:0;
}

/* Searchform */

#searchform {
	margin-top:10px;
	width:270px;
	overflow: hidden;
}

#searchform #s {
	height:24px;
	padding:4px;
	width:208px;
	float:left;
}

#searchform .screen-reader-text {
	display: none;
}

#searchform #searchsubmit {
	float:right;
	width:52px;
	font-size:85.714%;
	height:34px;
}



/* IE FIXES/ADJUSTMENTS */

.ie8 img {
	max-width:none;
}

.ie8 .entry-images img {
	max-width: none;
}

.ie8 .video img {
	max-width: 100%;
}

.ie8 .slide .item-img img {
	max-width: none;
	width:100%;
}
